

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: rgb(236, 209, 186);
  color: #424242;
  padding: 16px;
}

.form__country{
text-align: center;
}

.form__country-input{
    width: 1200px;
    height: 35px;
    text-align: center;    
}

.country__title{
    text-align: center;
    margin-bottom: 30px;
}

.country__container{
    display: flex;
    justify-content: space-around;
}

.country__option-card{
    font-weight: 700;
    font-size: 20px;

}

.country__style{
    font-weight: 400;
    margin-left: 5px;
    font-size: 18px;

}

.country__list{
    display: block;
    text-align: center;
}
.country__list:not(:last-chaeld){
margin-bottom: 10px;
}


.country__list-item{
    display: block;
    cursor: pointer;
}

.country__list-item:not(:last-child){
        margin-bottom: 10px;
}

.country__list-item:hover,
.country__list-item:focus{
    color: rgb(235, 185, 91);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}












